<div class="row campaign-row">
    <div class="col-xs-4 text-center">
        <img style="margin-top:70px;max-width:200px;" src="{{STATIC_URL}}img/ncosm-logo.jpg">
    </div>
    <div class="col-xs-8">
        <h1 class="feature-header"><span class="blue-header"> Social Schools is partner van het </span><span class="green-header">Nationaal Congres Onderwijs en Sociale Media </span></h1>
        <h3><span class="glyphicon glyphicon-map-marker"></span> 21 mei 2014, Eye Amsterdam </h3>
        <h2> kijk op <a href="http://ncosm.nl" target="blank">ncosm.nl</a> voor meer informatie </h2>
    </div>
</div>

<hr>
