<div class="col-xs-3 sitemap-container">
  <h5 class="footer-header">CONTACT</h5>
  <address>
    <strong>Social Schools</strong><br>
    308 Sky Max<br>
    Datta Mandir Chowk<br>
    Viman Nagar, Pune – 411014<br>
  </address>
  <address>
    +91 20 65 7373 33<br>
    <a href="mailto:#">info@socialschools.in</a>
  </address>
</div>
<div class="col-xs-3 sitemap-container">
  <h5 class="footer-header">FOLLOW US ON</h5>
  <a href="http://facebook.com/socialschoolsIN" target="blank"><img src="{{STATIC_URL}}img/icon-facebook-white.png" class="icon-facebook"alt=""></a>
  <a href="http://twitter.com/socialschoolsIN" target="blank"><img src="{{STATIC_URL}}img/icon-twitter-white.png" class="icon-twitter" alt=""></a>
</div>
