{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>

    <div class="row top-container">
      <div class="col-xs-6">
        <h1 class="feature-header"><span class="green-header">{% trans "Contact" %}</span><span class="blue-header"> {% trans "us" %}</span></h1>
      </div>
      <div class="col-xs-6">
        {% placeholder teammember_contact %}
      </div>
    </div>
    <hr>

    <h2 class="address-header">{% trans "Our address" %}</h2>
    <div class="row">
      <div class="col-xs-8">
        {% placeholder maps %}
      </div>
      <div class="col-xs-4">
        {% placeholder address_introduction %}
        <div class="address-container">
          <address>
            <span class="glyphicon glyphicon-map-marker socialschools-map-marker"></span>
            {% placeholder address %}
          </address>
        </div>
      </div>

    </div>
    <hr>

    <div class="row demo-form" id="demo-form">
      <h2 class="demo-header">Demo</h2>
      <div class="col-xs-4">
        <p>{% trans "Prefer a personal demonstration of Social Schools? We are happy to drop by and explain the product." %}</p>
      </div>
      <div class="col-xs-8">
        {% placeholder demo_form %}
      </div>
    </div>
    <hr>

    <div class="row question-container">
      <h2 class="question-header">{% trans "Questions?" %}</h2>
      <div class="col-xs-4">
        {% placeholder question_form_helptext %}
      </div>
      <div class="col-xs-8">
        {% placeholder question_form %}
      </div>
    </div>
  </div>
{% endblock %}
