{% extends "default.html" %}
{% block "content" %}
	<div class="container">
		<h3>{{request.current_page}}</h3>
		<div class="row">
			<div class="col-md-6">
				<h1>Neem contact met ons op</h1>
			</div>
			<div class="col-md-6">
				<p>Hopelijk vind je hier wat je nodig hebt. Zoniet, stuur ons een mail op info@socialschools.nl of ons op 088-100-1300</p>	
				<img src="{{STATIC_URL}}img/icon-marieke.png" alt="">
			</div>
		</div>
		<h3>ons adres</h3>
		<div class="row">
			<div class="col-md-8">
				<img src="" alt="Add Google Maps">
			</div>
			<div class="col-md-4">
				<p>Je bent altijd welkom voor een kopje koffie in ons oude schoolgebouw in Delft:
						Maerten Trompstraat 25 2628 RC Delft
						+31 88 100 1300 info@socialschools.nl
				</p>
			</div>
		</div>
		<h3>Demo</h3>
		<div class="row">
			<div class="col-md-8">
				<p>Wilt u liever dat we u alles rustig uitleg- gen? We komen graag bij u langs voor een demo!</p>
			</div>
			<div class="col-md-4">
				<form action=""></form>
			</div>
		</div>
		<h3>Vragen</h3>
		<div class="row">
			<div class="col-md-5">
				<p>Stel ons een vraag Stel ons een vraag via het formulier hiernaast of bel ons op 088-1001300 Je kunt natuurlijk ook een mailtje sturen naar support@socialschools.nl
					Je naam* E-mail a
				</p>
			</div>
			<div class="col-md-7">
				<form action=""></form>
			</div>
		</div>
	</div>		
{% endblock %}