{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2>{{request.current_page}}</h2>
    
    <div class="row">
      <div class="col-md-6">
        <h1 class="feature-header"><span class="green-header">{% trans "Contact" %}</span><span class="blue-header"> {% trans "us" %}</span></h1>
      </div>
      <div class="col-md-6">
        <div class="dialog-box-container pull-left">
          <p>{% trans "Lorem ipsum Nostrud et irure ad pariatur reprehenderit fugiat Excepteur sed Duis est anim est dolore." %}</p>  
        </div>
        <img src="{{STATIC_URL}}img/icon-marieke.png"  class="pull-right" alt="">
      </div>
    </div>
    <hr>

    <h2>{% trans "Our address" %}</h2>
    <div class="row">
      <div class="col-md-8">
        {% placeholder maps %}
      </div>
      
      <div class="col-md-4">
        <h4>{% trans "You are always welcome for a cup of coffee in our old schoolbuilding in Delft." %}</h4>
        <div class="address-container">
          <address>
            <span class="glyphicon glyphicon-map-marker socialschools-map-marker"></span>
            Maerten Trompstraat 25<br>  
            2628 RC Delft <br>
            <br>
            +31 88 100 1300 <br>
            <a href="mailto:info@socialschools.nl">info@socialschools.nl</a>
          </address>
        </div>
      </div>

    </div>
    <hr>

    <div class="row">
      <h2>Demo</h2>
      <div class="col-md-4">
        <h4>{% trans "Prefer a personal demonstration of Social Schools? We are happy to drop by and explain the product." %}</h4>
      </div>
      <div class="col-md-8">
        <form action=""></form>
      </div>
    </div>
    <hr>

    <div class="row question-container">
      <h2>{% trans "Questions?" %}</h2>
      <div class="col-md-4">
        <h4>{% trans "Ask us a question" %}</h4>
        <p>{% trans "Ask us a question using the form on the right or call us at" %} <span class="blue-header">088-1001300</span> {% trans "Of course you can also send us an email" %}: <a href="mailto:support@socialschools.nl">support@socialschools.nl</a></p>
      </div>
      <div class="col-md-8">
        <form action=""></form>
      </div>
    </div>
  </div>    
{% endblock %}