{% load cms_tags sekizai_tags menu_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="alternate" href="http://socialschools.nl/en" hreflang="en">
  {% if not debug %}
  <meta name="google-site-verification" content="cQUzLSl0VdCsllNnO5eAsPKXaPHECg-1Zy0-Obuw87o" />
  {% endif %}
  <title>{% page_attribute "page_title" %} | Socialschools</title>
  <meta name="description" content="{% page_attribute meta_description %}"/>
  <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
  <!--[if IE 8]><script src="{{ STATIC_URL }}js/respond.min.js"></script><![endif]-->
  {% if debug %}
  <link href="{{ STATIC_URL }}css/styles.less" rel="stylesheet/less" >
  <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
  {% endif %}

  {% if debug %}
  <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/socialschools.js"></script>
  {% else %}
  <script src="{{ STATIC_URL }}js/socialschools-site.min.js"></script>
  {% endif %}


  {% render_block "css" %}
</head>
<body>
  {% cms_toolbar %}
  <header class="navbar navbar-fixed-top topbar" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><img src="{{STATIC_URL}}img/logo-socialschools.png" class="logo-navbar"></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav pull-right">
          {% show_menu 0 0 0 0 %}
          {% language_chooser "menu/language_chooser.html" %}
        </ul>
      </nav>
    </div>
  </header>
  {% block "content" %}{% endblock %}
  <div class="container footer-container">
    <div class="row footer-container-links">
      <div class="col-xs-3 sitemap-container">
        <h5 class="footer-header">SITEMAP</h5>
        <ul class="list-unstyled">
          {% show_menu 0 0 0 0 %}
        </ul>
      </div>
      <div class="col-xs-3 sitemap-container">
        <h5 class="footer-header">{% trans "APPS" %}</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://play.google.com/store/apps/details?id=nl.changer.socialschools" target="blank"><img src="{{ STATIC_URL}}img/googleplay.png"></a>
          </li>
          <li>
            <a href="https://itunes.apple.com/nl/app/socialschools/id708223200?mt=8" target="blank"><img class="playstore-img" src="{{ STATIC_URL}}img/appstore.png"></a>
          </li>
        </ul>
      </div>
      {% show_placeholder "footer_contact" "extra_placeholders" %}
    </div>
    <div class="footer-text">
      <span>Copyright © 2015 | Social Schools B.V. | KvK-nummer: 62141678</span>
    </div>
  </div>
  {% render_block "js" %}
  {% if not debug %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33163440-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}
</body>
</html>
