{% extends "default.html" %}
{% load i18n %}
{% block "content" %}
{% load cms_tags %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>
    <div class="row features-intro-container">
      <div class="col-xs-6">
        <h1 class="feature-header"><span class="green-header">{% trans "The" %}</span> <span class="blue-header"> {% trans "most important features" %}</span></h1>
      </div>
      <div class="col-xs-6 dialog">
        <div class="dialog-box-container">
          <p>{% trans "We are constantly trying to improve Social Schools with new and improved features!" %}</p>
          <span class="blue-header">Robert Korteland - Ontwerper</span>
        </div>
        <img src="{{STATIC_URL}}img/thumbnail-robert.png" class="dialog-image" alt="">
      </div>
    </div>
    
    {% placeholder features %}

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 demo-container">
        <h1>{% trans "Wondering" %} <span class="blue-header">{% trans "how these features work exactly" %}?</span></h1>
        <a href="http://app.socialschools.nl/register/school" target="blank" class="btn btn-success btn-email">{% trans "Try it yourself" %}</a>
        <p>{% trans 'or request a' %} <a href="{% page_url "contact" %}#demo-form" class="blue-header">demo</a></p>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
{% endblock %}
