{% extends "default.html" %}
{% block "content" %}
	<div class="container socialschools-container">
		<h3>{{request.current_page}}</h3>
		<div class="row socialschools-container-item well">
			<div class="col-md-8">
				<h1>De belangrijkste Functies op een rijtje</h1>
			</div>
			<div class="col-md-4">
				<p>Lorem ipsum Officia minim anim non voluptate ullamco sit veniam do dolor in ullamco ad id nostrud Duis.</p>
				<img src="" alt="Image">
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<h2>Maak en beheer groepen</h2>
				<p>Lorem ipsum Amet ullamco officia laborum Ut veniam nostrud nulla eiusmod sed dolor esse et amet ad laborum mollit et deserunt qui amet reprehenderit proident non voluptate sunt veniam non ex Ut eu aute minim eiusmod Excepteur aliqua anim.</p>
			</div>
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/group.png" alt="Big Image">
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/media.png">
			</div>
			<div class="col-md-6">
				<h2>Deel media</h2>
				<p>Lorem ipsum Dolore dolor voluptate pariatur aliquip ea velit fugiat aliquip culpa minim ad veniam aliqua culpa cillum eiusmod nostrud cillum et mollit ea amet exercitation.</p>
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<h2>Mobiele apps</h2>
				<p>Lorem ipsum Amet ullamco officia laborum Ut veniam nostrud nulla eiusmod sed dolor esse et amet ad laborum mollit et deserunt qui amet reprehenderit proident non voluptate sunt veniam non ex Ut eu aute minim eiusmod Excepteur aliqua anim.</p>
			</div>
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/mobile-app.png" alt="Big Image">
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/public.png">
			</div>
			<div class="col-md-6">
				<h2>Publiceer berichten</h2>
				<p>Lorem ipsum Dolore dolor voluptate pariatur aliquip ea velit fugiat aliquip culpa minim ad veniam aliqua culpa cillum eiusmod nostrud cillum et mollit ea amet exercitation.</p>
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<h2>Kleurthema</h2>
				<p>Lorem ipsum Amet ullamco officia laborum Ut veniam nostrud nulla eiusmod sed dolor esse et amet ad laborum mollit et deserunt qui amet reprehenderit proident non voluptate sunt veniam non ex Ut eu aute minim eiusmod Excepteur aliqua anim.</p>
			</div>
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/theme.png" alt="Big Image">
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<h2>Publiceer berichten</h2>
				<p>Lorem ipsum Dolore dolor voluptate pariatur aliquip ea velit fugiat aliquip culpa minim ad veniam aliqua culpa cillum eiusmod nostrud cillum et mollit ea amet exercitation.</p>
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-6">
				<h2>Parnassys</h2>
				<p>Lorem ipsum Amet ullamco officia laborum Ut veniam nostrud nulla eiusmod sed dolor esse et amet ad laborum mollit et deserunt qui amet reprehenderit proident non voluptate sunt veniam non ex Ut eu aute minim eiusmod Excepteur aliqua anim.</p>
			</div>
			<div class="col-md-6">
				<img src="{{STATIC_URL}}img/par-import.png" alt="Big Image">
			</div>
		</div>
		<div class="row socialschools-container-item well">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Benieuwd hoe deze functies precies werken?</h1>
				<a href="" class="btn btn-success btn-lg">Probeer het zelf</a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>			
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a href="" class="btn btn-lg btn-success">Mail Ons</a>
			</div>
			<div class="col-md-4">
				<h4>of bel met ons:</h4>
				<h3>080-100-1300</h3>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}		
