{% extends "default.html" %}
{% load i18n %}
{% load cms_tags %}
{% block "content" %}

  <div class="container socialschools-container">
    {% placeholder campaign_banner %}
    <div class="row share-container">
    <div class="col-md-4">
      <img src="" class="share-image" alt="image">
    </div>
    <div class="col-md-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      {% placeholder "share form" %}
    </div>
    </div>
    <div class="vision">
      <h2>{% trans "Wij geloven dat je" %} <span class="blue-header">{% trans "ouderbetrokkenheid zo stimuleert met online media" %}</span></h2>
      <div class="row">
        <div class="col-xs-4 vision-block">
          <h3>{% trans "Open communitcatie" %}</h3>
          <img src="{{STATIC_URL}}img/parent-small.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="{% page_url "about" %}#parents" class="blue-header">> {% trans "Read more" %}</a>
        </div>
        <div class="col-xs-4 vision-block">
          <h3>{% trans "Sociaal en inhoudelijk" %}</h3>
          <img src="{{STATIC_URL}}img/safety-small.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est labor.</p>
          <a href="{% page_url "about" %}#safety" class="blue-header">> {% trans "Read more" %}</a>
        </div>
        <div class="col-xs-4 vision-block">
          <h3>{% trans "Effectief" %}</h3>
          <img src="{{STATIC_URL}}img/devices-small.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="{% page_url "about" %}#technology" class="blue-header">> {% trans "Read more" %}</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="email-container">
      <div class="row text-center">
        {% placeholder call_to_action %}
      </div>
    </div>
  </div>
{% endblock %}
