{% extends "default.html" %}
{% load i18n %}
{% load cms_tags %}
{% block "content" %}

  <div class="container socialschools-container">
    {% placeholder campaign_banner %}
    <div class="row share-container">
    <div class="col-md-4 share-image-container">
      <img src="{{STATIC_URL}}img/thumbnail-bert.png" class="share-image" alt="image">
      <div class="introduction">
        <h3 class="share-image-header">Bert van't Land</h3>
        <h4 class="blue-header">Socialschools</h4>
      </div>

    </div>
    <div class="col-md-8 share-top-header">
      <h3>Wat leuk dat je hier bent!</h3>
      <h1>Meer weten over ouderbetrokkenheid en online media?</h1>
      <h1>Ontvang onze whitepaper met tips, cases, voorwaarden voor succes en nog veel meer!</h1>
      <h3>Laat je gegevens achter en we sturen hem zo snel mogelijk toe.</h3>
      {% placeholder "share form" %}
    </div>
    </div>
    <hr>
    <div class="vision">
      <h2>{% trans "Ouderbetrokkenheid stimuleren" %} <span class="blue-header">{% trans "met online media doe je zo:" %}</span></h2>
      <div class="row">
        <div class="col-xs-4 share-block">
          <h3>{% trans "Open communicatie" %}</h3>
          <div class="share-pillars-image">
            <img src="{{STATIC_URL}}img/open-communication.png" alt="">
          </div>
          <p>Randvoorwaarde voor ouderbetrokkenheid is een open en
          gelijkwaardige relatie met ouders, ook online!
          Wij faciliteren dit door ouders te laten liken, reageren en zelfs
          berichten plaatsen in de groepen van hun kinderen.</p>
          <hr>
          <h5>ZO BEREIKEN WE DAT:</h5>
          <ul class="share">
            <li>Berichten liken</li>
            <li>Reageren op berichten</li>
            <li>Berichten plaatsen</li>
            <li>Groepen voor ouderraad en andere verbanden</li>
          </ul>
        </div>
        <div class="col-xs-4 share-block">
          <h3>{% trans "Sociaal en inhoudelijk" %}</h3>
          <div class="share-pillars-image">
            <img src="{{STATIC_URL}}img/social-communication.png" alt="">
          </div>
          <p>Met het delen van leuke berichten bouw je een
          sociale band op met ouders. Nog belangrijker is inhoudelijke communicatie over
          het leren van de kinderen en de rol die ouders kunnen vervullen.</p>
          <hr>
          <h5>ZO BEREIKEN WE DAT:</h5>
          <ul class="share">
              <li>Foto’s, video’s bestanden en evenementen delen</li>
              <li>Binnenkort: eenvoudig lesstof van het internet delen met browser extensies</li>
              <li>Binnenkort: Portfolio per leer- ling</li>
          </ul>
        </div>
        <div class="col-xs-4 share-block">
          <h3>{% trans "Effectief" %}</h3>
          <div class="share-pillars-image">
            <img src="{{STATIC_URL}}img/effective-communication.png" alt="">
          </div>
          <p>Effectieve, tijdbesparende communicatie is een belangrijke randvoorwaarde.
          Daarom bieden we handige tools die tijd en moeite besparen in de communicatie met ouders.</p>
          <hr>
          <h5>ZO BEREIKEN WE DAT:</h5>
          <ul class="share">
            <li>Mobiele apps met notificaties</li>
            <li>Gespreksplanner</li>
            <li>Spoedberichten</li>
            <li>Evenementen</li>
            <li>Statistieken over aantal lezers</li>
            <li>Automatische nieuwsbrief</li>
          </ul>
        </div>

      </div>
    </div>
    <hr>
    <div class="share-container">
      <div class="row">
        <div class="col-md-4 testimonial-image-container">
          <img src="{{STATIC_URL}}img/thumbnail-marijan.png">
        </div>
        <div class="col-md-8">
        <h2 class="pull-left testimonial-header">“Uit het gesprek, dat de inspectie met ouders voerde, kwam naar voren dat <strong> ouders zeer tevreden zijn over de in- formatievoorziening naar hen toe (en hierdoor hun betrokkenheid)</strong> door het ouderportal Social Schools.”</h2>
         <p class="meta testimonial-detail-meta">Marijan Koster - directrice</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="share-container links-share">
      <div class="col-md-6 video-share">
        <a class="btn btn-large btn-success" href="https://youtu.be/fSXI6tKJyqQ">Bekijk onze introductievideo</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-large btn-success" href="http://www.socialschools.nl/nl/features">Bekijk onze features</a>
      </div>
    </div>
  </div>
{% endblock %}
