{% extends "default.html" %}
{% load i18n %}
{% load cms_tags %}
{% block "content" %}

  <div class="container socialschools-container">
    {% placeholder campaign_banner %}
    <div class="row campaign-row">
      <div class="col-md-7">
        <h1 class="feature-header">
          Schrijf je in voor een online demo. Laat je gegevens achter en <strong><span class="blue-header">profiteer</span></strong> nog van onze oude prijs!*
        </h1>
        <span class="meta-info">* Social Schools ontwikkelt samen met ouders, leraren en leerlingen non-stop door, zo worden er iedere maand nieuwe functionaliteiten en optimalisaties toegevoegd. Daarom zijn we na 2 jaar genoodzaakt onze prijs per 1 september te verhogen. Heb je hier je gegevens achter gelaten en besluit je voor 1 januari 2016 Social Schools te gaan gebruiken? Dan profiteer je nog van onze oude prijs!</span>
      </div>
      <div class="col-md-5 col-campaign-form">
        {% placeholder campaign-form %}
      </div>
    </div>
    <hr class="hr-large">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 text-right">
            <img class="campaign-testimonial-image" src="{{STATIC_URL}}img/thumbnail-kim.png">
          </div>
          <div class="col-md-8">
            <p class="campaign-testimonial-body">
              “Ik log in via de app of de website en ik ben direct op de hoogte over wat ons kind heeft geleerd, welke leuke activiteiten hij gedaan heeft en wat er nog op stapel staat deze week.”
            </p>
            <span class="campaign-testimonial-author">Kim van den Berg - Ouder de Catamaran Loosdrecht</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 text-right">
            <img class="campaign-testimonial-image" src="{{STATIC_URL}}img/thumbnail-basslot.png">
          </div>
          <div class="col-md-8">
            <p class="campaign-testimonial-body">
              “Social Schools biedt mij een tool om beter te communiceren met ouders. Ook didactisch ondersteunt Social Schools door mediawijsheid, taal en de mogelijkheden van open communicatie.”
            </p>
            <span class="campaign-testimonial-author">Bas Slot - Leerkracht OBS De Stapvoorde Almelo</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-large">
    <div class="row row-campaign-carousel">
      <div id="campaign-carousel" class="carousel slide campaign-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#campaign-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#campaign-carousel" data-slide-to="1"></li>
          <li data-target="#campaign-carousel" data-slide-to="2"></li>
          <li data-target="#campaign-carousel" data-slide-to="3"></li>
          <li data-target="#campaign-carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="row">
              <div class="col-md-6 text-center">
                <img class="campaign-slide-image" src="{{STATIC_URL}}img/ios-newpost-NL-bezelcut.png">
              </div>
              <div class="col-md-5 campaign-carousel-right">
                <img src="{{STATIC_URL}}img/icon-betrekouders.png">
                <span class="campaign-carousel-category">Betrek ouders bij de klas.</span>
                <h2>Deel foto’s en video’s uit de klas. Eenvoudig voor de leerkracht, aantrekkelijk voor de ouders!</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 text-center">
                <img class="campaign-slide-image" src="{{STATIC_URL}}img/ios-push-NL-bezelcut.png">
              </div>
              <div class="col-md-5 campaign-carousel-right">
                <img src="{{STATIC_URL}}img/icon-handig.png">
                <span class="campaign-carousel-category">De handigste communicatietools</span>
                <h2>Breng belangrijk nieuws extra onder de aandacht met spoedberichten</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 text-center">
                <img class="campaign-slide-image" src="{{STATIC_URL}}img/ios-opencommunication.png">
              </div>
              <div class="col-md-5 campaign-carousel-right">
                <img src="{{STATIC_URL}}img/icon-open.png">
                <span class="campaign-carousel-category">Open communicatie</span>
                <h2>Ouders plaatsen berichten en reacties en helpen elkaar zo!</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 text-center">
                <img class="campaign-slide-image" src="{{STATIC_URL}}img/ios-publish-NL-bezelcut.png">
              </div>
              <div class="col-md-5 campaign-carousel-right">
                <img src="{{STATIC_URL}}img/icon-share.png">
                <span class="campaign-carousel-category">Marketingtool voor je school</span>
                <h2>Vergroot je bereik door berichten te delen op de schoolwebsite, facebook of twitter.</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 text-center">
                <img class="campaign-slide-image" src="{{STATIC_URL}}img/image-mediawijsheid.png">
              </div>
              <div class="col-md-5 campaign-carousel-right">
                <img src="{{STATIC_URL}}img/icon-mediawijsheid.png">
                <span class="campaign-carousel-category">Kinderen mediawijzer</span>
                <h2>Geef leerlingen toegang en leer ze in een veilige omgeving omgaan met social media.</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row whitepaper-row text-center">
      <h2>Wil jij ook de ouderbetrokkenheid verbeteren met een ouderportaal?</h2>
      <a href="{{STATIC_URL}}downloads/whitepaper-socialschools.pdf" class="btn btn-success" target="blank">Lees het whitepaper</a>
    </div>
  </div>
{% endblock %}
