{% extends "default.html" %}
{% load i18n %}
{% load cms_tags %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>

    {% placeholder price_content %}

    <div class="row form-price">
      <div class="col-xs-6">
        <h4>{% trans "Contact us" %}</h4>
        <p>{% trans "Fill out the form and receive a non-commital offer, or send us an email at" %} <a href="mailto:info@socialschools.nl">info@socialschools.nl</a></p>
      </div>
      <div class="col-xs-6">
       {% placeholder price_form %}
      </div>
    </div>
  </div>
{% endblock %}
