{% extends "default.html" %}
{% block "content" %}
	<div class="container socialschools-container">
		<h3>{{request.current_page}}</h3>
		<h2>Onze prijzen</h2>
		<hr>
		<div class="row">
			<h3>1. De basis</h3>
			<div class="col-md-6">
				<h4>Social Schools platform inclusief</h4>
			</div>
			<div class="col-md-6">
				<div class="price-circle">
					
				</div>
				<p>per leering per jaar</p>
				<p>Met een minimum €500, per jaar</p>  
			</div>
		</div>
		<hr>
		<div class="row">
				<h3>2. Aanuvullingen</h3>
				<div class="col-md-4 price-box">
					<img src="{{STATIC_URL}}img/cms.png" alt="">
					<p>Lorem ipsum Id ullamco officia culpa in anim id sit aliqua reprehenderit Ut ea in culpa mollit quis.</p>
				</div>
				<div class="col-md-4 price-box">
					<img src="{{STATIC_URL}}img/newsfeed.png" alt="">
					<p>Lorem ipsum Id ullamco officia culpa in anim id sit aliqua reprehenderit Ut ea in culpa mollit quis.</p>						
				</div>
				<div class="col-md-4 price-box">
					<img src="{{STATIC_URL}}img/workshop.png" alt="">
					<p>Lorem ipsum Id ullamco officia culpa in anim id sit aliqua reprehenderit Ut ea in culpa mollit quis.</p>
				</div>
		</div>
		<hr>
		<div class="row form-price">
			<h2>Benieuwd wat de kosten voor jouw school zijn?</h2>
			<div class="col-md-6">
				<p>Lorem ipsum Voluptate dolore esse amet incididunt voluptate dolor culpa ullamco commodo ut labore.</p>
			</div>
			<div class="col-md-6">
				<form action="">
					<input type="text">
				</form>
			</div>
		</div>
	</div>		
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a href="" class="btn btn-lg btn-success">Mail Ons</a>
			</div>
			<div class="col-md-4">
				<h4>of bel met ons:</h4>
				<h3>080-100-1300</h3>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}