{% extends "default.html" %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>
    <div class="row top-container">
      <div class="col-md-6">
        <h1 class="feature-header"><span class="green-header">{% trans "Testimonials" %}</span></h1>
      </div>
      <div class="col-md-6">
        <div class="dialog-box-container">
          <p>{% trans "We hope you will find what you need. If you don't dont hesistate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>080-100-1300</span> " %}.</p> 
          <a href="">Marieke van der Zwan - Product Manager</a>  
        </div>
        <img src="{{STATIC_URL}}img/thumbnail-marieke.png"  class="dialog-image" alt="">
      </div>
    </div>
    <hr>
    <div class="row socialschools-container-item">
      <div class="col-md-6">
        <img src="{{STATIC_URL}}img/marieke-big.png" class="pull-right" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="pull-left testimonial-header">"Lorem ipsum Pariatur laboris sunt consequat dolor pariatur tempor dolor esse    commodo enim culpa adipisicing."
        <h3>Lorentz Ruiter</h3>
        <p class="meta testimonial-detail-meta">Director van basisschool Prins William Alexander te Waarder</p>
      </div>
    </div>
    <div class="row socialschools-container-item">
      <div class="col-md-6">
        <h2 class="pull-right testimonial-header">"Lorem ipsum Pariatur laboris sunt consequat dolor pariatur tempor dolor esse     commodo enim culpa adipisicing."
        <h3>Lorentz Ruiter</h3>
        <p class="meta testimonial-detail-meta">Director van basisschool Prins William Alexander te Waarder</p>
      </div>
      <div class="col-md-6">
        <img src="{{STATIC_URL}}img/makiel-big.png" alt="">
      </div>
    </div>
    <div class="row socialschools-container-item">
      <div class="col-md-6">
        <img src="{{STATIC_URL}}img/marieke-big.png" class="pull-right" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="pull-left testimonial-header">"Lorem ipsum Pariatur laboris sunt consequat dolor pariatur tempor dolor esse    commodo enim culpa adipisicing."
        <h3>Lorentz Ruiter</h3>
        <p class="meta testimonial-detail-meta">Director van basisschool Prins William Alexander te Waarder</p>
      </div>
    </div>
    <div class="bottom-link">
      <h2><span class="blue-header">{% trans "Want to" %}</span> {% trans "try too" %}?</h2>
      <a href="" class="btn btn-success btn-email">{% trans "Try it yourself" %}</a>
    </div>
  </div>    
{% endblock %}