{% extends "default.html" %}
{% load i18n %}
{% block "content" %}
{% load cms_tags %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>
    <div class="row top-container">
      <div class="col-xs-6">
        <h1 class="feature-header"><span class="green-header">{% trans "Testimonials" %}</span></h1>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-8">
            <div class="dialog-box-container">
              <p>{% trans "We hope you will find what you need. If you don't dont hesistate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>+31-088-100-1300</span> " %}.</p> 
              <a href="">Marieke van der Zwan - Product Manager</a>  
            </div>    
          </div>
          <div class="col-xs-4">
            <img src="{{STATIC_URL}}img/thumbnail-marieke.png"  class="dialog-image" alt="">    
          </div>
        </div>       
      </div>

    </div>
    <hr>
    {% placeholder reference %}
    <div class="bottom-link">
      <h2><span class="blue-header">{% trans "Want to" %}</span> {% trans "try too" %}?</h2>
      <a href="" class="btn btn-success btn-email">{% trans "Try it yourself" %}</a>
    </div>
  </div>    
{% endblock %}