{% extends "default.html" %}
{% block "content" %}
	<div class="container socialschools-container">
		<h2>Support</h2>
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="/support/videos">Videos</a>
			</li>
			<li>
				<a href="/support/downloads">Downloads</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-6">
				<h1 class="feature-header"><span class="green-header">Tutorial</span><span class="blue-header">videos</span></h1>
			</div>
			<div class="col-md-6">
				<p>Lorem ipsum Nostrud et irure ad pariatur reprehenderit fugiat Excepteur sed Duis est anim est dolore.</p>
				<img src="" alt="{{STATIC_URL}}img/icon-marieke.png">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<ul class="nav nav-pills nav-stacked" id="videotab">
					<li class="active">
						<a href="">Create groups</a>
					</li>
					<li>
						<a href="">Create a message</a>
					</li>
					<li>
						<a href="">Invite members</a>
					</li>
					<li>
						<a href="">Publish a post</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
				<img src="" alt="Video">
			</div>
		</div>
		<div class="row">
			<h1>Niet gevonden wat je zocht?</h1>
			<div class="col-md-5">
				<p>Lorem ipsum Mollit consectetur irure ad et eiusmod enim dolore dolor nostrud.</p>
			</div>
			<div class="col-md-7">
				<form action=""></form>
			</div>
		</div>
	</div>		
{% endblock %}