{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
<div class="container socialschools-container">
    <h2 class="about-header">{% trans "Support" %}</h2>
    <ul class="nav nav-tabs" id="support">
        <li class="active">
            <a href="#faq">{% trans "FAQ" %}</a>
        </li>
        <li>
            <a href="#videos">{% trans "Videos" %}</a>
        </li>
        <li>
            <a href="#download">{% trans "Downloads" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="faq">
            <div class="row video-container">
                <div class="col-xs-6">
                    <h1 class="feature-header"><span class="green-header">{% trans "Frequently asked" %}</span><span class="blue-header"> {% trans "questions" %}</span></h1>
                </div>
                {% placeholder teammember_faq %}
            </div>
            <hr>
            <div class="panel-group" id="accordion">
                {% placeholder faq %}
            </div>
            <hr>
        </div>
        <div class="tab-pane" id="videos">
            <div class="row video-container">
                <div class="col-xs-6">
                    <h1 class="feature-header"><span class="green-header">{% trans "Tutorial" %}</span><span class="blue-header"> {% trans "videos" %}</span></h1>
                </div>
                <div class="col-xs-6">
                    {% placeholder teammember_videos %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="video-placeholder-container">
                    <img src="{{STATIC_URL}}img/support-video-placeholder.png" alt="">
                    <h1 class="support-header">{% trans "Videos" %} <span class="blue-header">{% trans "will be available soon" %}</span></h1>
                </div>
            </div>
            <hr>
        </div>
        <div class="tab-pane" id="download">
            <div class="row download-container">
                <div class="col-xs-6">
                    <h1 class="feature-header"><span class="green-header">Down</span><span class="blue-header">loads</span></h1>
                </div>
                {% placeholder teammember_downloads %}
            </div>
            <div class="row downloads-content">
                <div class="col-xs-4">
                    {% placeholder downloads_content %}
                </div>
                <div class="col-xs-4">
                    {% placeholder downloads_content_middle %}
                </div>
                <div class="col-xs-4">
                    {% placeholder downloads_content_right %}
                </div>
            </div>
            <div class="row downloads-content">
                {% placeholder downloads_content_extra %}
            </div>
        </div>
    </div>
    <h1 class="support-header">{% trans "Didn't find" %} <span class="blue-header">{% trans "what you were looking for" %}?</span></h1>
    <div class="row question-container">
        <div class="col-xs-4">
            {% placeholder question_form_helptext %}
        </div>
        <div class="col-xs-8">
            {% placeholder question_form %}
        </div>
    </div>
</div>
{% endblock %}
