{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{% trans "Support" %}</h2>
    <ul class="nav nav-tabs" id="support">
      <li class="active">
        <a href="#videos">{% trans "Videos" %}</a>
      </li>
      <li>
        <a href="#download">{% trans "Downloads" %}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="videos">
        <div class="row video-container">
          <div class="col-xs-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Tutorial" %}</span><span class="blue-header"> {% trans "videos" %}</span></h1>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-8">
                <div class="dialog-box-container">
                  <p>{% trans "We hope you will find what you need. If you don't, don't hesitate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>080-100-1300</span> " %}.</p> 
                  <a href="">Marieke van der Zwan - Product Manager</a> 
                </div>    
              </div>
              <div class="col-xs-4">
                 <img src="{{STATIC_URL}}img/thumbnail-marieke.png" class="dialog-image" alt="">
              </div>
            </div>
            
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="video-placeholder-container">
            <img src="{{STATIC_URL}}img/support-video-placeholder.png" alt="">
            <h1 class="support-header">{% trans "Videos" %} <span class="blue-header">{% trans "will be available soon" %}</span></h1>
          </div>
          
        </div>
        <hr>
      </div>
      <div class="tab-pane" id="download">

        <div class="row download-container">
          <div class="col-xs-6">
            <h1 class="feature-header"><span class="green-header">Down</span><span class="blue-header">load</span></h1>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-8">
                <div class="dialog-box-container">
                  <p>{% trans "We hope you will find what you need. If you don't, don't hesitate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>080-100-1300</span> " %}.</p> 
                  <a href="">Marieke van der Zwan - Product Manager</a> 
                </div>    
              </div>
              <div class="col-xs-4">
                 <img src="{{STATIC_URL}}img/thumbnail-marieke.png" class="dialog-image" alt="">
              </div>
            </div>
            
          </div>
        </div>
        <hr>
        
        <h2>{% trans "Documents" %}</h2>
        <div class="download-item">
          <h4>CMS manual(1.2 MB)</h4>
          <a href="" class="btn btn-download pull-right">{% trans "Download" %}</a>
        </div>
        <div class="download-item">
          <h4>Do's and Don'ts of social media in the classroom(14kb)</h4>
          <a href="" class="btn btn-download pull-right">{% trans "Download" %}</a>
        </div>
        <hr>
        
        <h2>{% trans "Extra" %}!</h2>
        <p>{% trans "A collection of icons to be used as group profile pictures" %}</p>
        <div class="download-item">
          <h4>Rainbow(1.6 MB)</h4>
          <a href="" class="btn btn-download pull-right">{% trans "Download" %}</a>     
        </div>
        <div class="download-item">
          <h4>Rainbow(1.6 MB)</h4>
          <a href="" class="btn btn-download pull-right">{% trans "Download" %}</a>     
        </div>
        </div>
    </div>

      

    
    <div class="row question-container">
      <h1 class="support-header">{% trans "Didn't find" %} <span class="blue-header">{% trans "what you were looking for" %}?</span></h1>
      <div class="col-xs-4">
        <h3>{% trans "Ask us a question" %}</h3>
        <p>{% trans "Ask us a question using the form on the right or call us at" %} <span class="blue-header">088-1001300</span> {% trans "Of course you can also send us an email" %}: <a href="mailto:support@socialschools.nl">support@socialschools.nl</a></p>
      </div>
      <div class="col-xs-8">
      </div>
    </div>    
</div>
{% endblock %}