{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>
    <ul class="nav nav-tabs" id="about">
      <li class="active">
        <a href="#vision">{% trans "Our beliefs" %}</a>
      </li>
      <li class="">
        <a href="#team">{% trans "Our team" %}</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="vision">
        <div class="row dialouge-container">
          <div class="col-xs-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our" %} <span class="blue-header">{% trans "beliefs" %}</span></h1>
          </div>
          <div class="col-xs-6">
            <div class="dialog-box-container">
              <p>{% trans "I truly believe we can make a difference in the world of education with Social Schools." %}.</p>
              <span class="blue-header">Jonathan Stolk - Co-founder</span>
            </div>
            <img src="{{STATIC_URL}}img/thumbnail-jonathan.png" class="dialog-image" alt="">
          </div>
        </div>
        <hr>
        <div class="vision-container">
          <div class="row vision-item-container" id="parents">
            <div class="col-xs-6">
              <img src="{{STATIC_URL}}img/about-engaged-parents.png" alt="">
            </div>
            <div class="col-xs-6">
              <div class="point-circle-parents">
                <h2 class="point">1</h2>
              </div>
              <h2>{% trans "Engaged parents" %}</h2>
              <p>{% trans "With Social Schools parents get a genuine taste of what's going on in the school and what their children learn and do in the classroom. Everything we do is aimed at facilitating meaningful communication between parents, children, teachers and the school." %}</p>
            </div>
          </div>

          <div class="row vision-item-container" id="safety">
            <div class="col-xs-6">
              <div class="point-circle-safety">
                <h2 class="point">2</h2>
              </div>
              <h2>{% trans "Growing up safely" %}</h2>
                <p>{% trans "In the real world you wouldn’t lose your child out of sight, but on the internet many parents find it difficult to keep track of their activities. On the one hand children should be monitored but on the other hand it's even more important to educate children about online behavior." %} </p>
                <p>{% trans "Being media savvy enables children to identify dangers themselves, and children have to be tutored to develop that skill. We believe that boring lessons on safe computing do not stick with anyone, and we do believe that by using social media within the school context, in a safe and fenced community, children can learn by doing. The school stays in control and we believe that creates the conditions to safely let children engage in communicating online for the first time." %}</p>
            </div>
            <div class="col-xs-6">
              <img src="{{STATIC_URL}}img/about-safety.png" alt="">
            </div>
          </div>

          <div class="row vision-item-container" id="technology">
            <div class="col-xs-6">
              <img src="{{STATIC_URL}}img/about-technology.png" alt="">
            </div>
            <div class="col-xs-6">
              <div class="point-circle-tech">
                <h2 class="point">3</h2>
              </div>
              <h2>{% trans "The opportunities of technology" %}</h2>
              <p>{% trans "We believe that technology offers enormous possibilities for educational purposes. Not only in the practical sense of technology that supports the teaching process, but also by broadening the views of children.  Technology connects people across physical borders and enables children to learn about the reality and mindset of children in other countries, from another background or from different cultures." %}</p>
            </div>
          </div>


        </div>
        <hr>
        <div class="feature-redirect-container">
          <h1>{% trans "Check out the" %}</h1>
          <a href="/features" class="btn btn-features">{% trans "features" %}</a>
        </div>
      </div>

      <div class="tab-pane" id="team">
        <div class="row dialouge-container">
          <div class="col-xs-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our " %} <span class="blue-header">{% trans "team" %}</span></h1>
          </div>
          <div class="col-xs-6">
            <div class="dialog-box-container">
              <p>{% trans "I truly believe we can make a difference in the world of education with Social Schools." %}.</p>
              <span class="blue-header">Jonathan Stolk - Co-founder</span>
            </div>
            <img src="{{STATIC_URL}}img/thumbnail-jonathan.png" class="dialog-image" alt="">
          </div>
        </div>
        <hr>

        <div class="team-container">
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-jonathan.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-jonathan.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Jonathan Stolk</h2>
                    <h3><span class="blue-header">Sales manager</span></h3>
                    <p>{% trans "I'm co-founder of socialschools. And also a dad of a boy in grade 5 and a girl in 3rd grade. I like to be in touch on what's going on in their classes!" %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-marieke.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-marieke.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Marieke van der Zwan</h2>
                    <h3><span class="blue-header">Product manager</span></h3>
                    <p>{% trans "I love to make people enthusiastic about good communication in schools. I take care of implementations, give workshops and organize events. Happy clients are my goal so just call 'Miss Social Schools' ;-)" %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-robert.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-robert.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Robert Korteland</h2>
                    <h3><span class="blue-header">Designer</span></h3>
                    <p>{% trans "I love to design screens and interaction flows and keep improving them according to your feedback. Sometimes I can't resist to write some code myself." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-nar.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-nar.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Nar Kumar</h2>
                    <h3><span class="blue-header">Developer</span></h3>
                    <p>{% trans "Passionate about the software development cycle - I love it when a sketch is turned into a product, and design into functional feature." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-bas.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-bas.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Bas de Bruin</h2>
                    <h3><span class="blue-header">Marketing Manager</span></h3>
                    <p>{% trans "Social Schools proves itself daily with our customers, just looking at our clients' websites full of classroom pictures and messages is my ultimate reward." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-maikel.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-maikel.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Maikel Boos</h2>
                    <h3><span class="blue-header">Sales and account manager</span></h3>
                    <p>{% trans "As account manager I like to advise and inspire schools to communicate in a modern way with parents, children and everybody involved with the school." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-jos.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-jos.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Jos van Velzen</h2>
                    <h3><span class="blue-header">Lead developer</span></h3>
                    <p>{% trans "I'm a co-founder of socialschools. I like building apps which are easy to use and matter to the world, with technology from today and tomorrow." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-4 team-item">
                  <img class="team-member-image front" src="{{STATIC_URL}}img/icon-vinit.png" alt="">
                  <img class="team-member-image back" src="{{STATIC_URL}}img/thumbnail-vinit.png" alt="">
                </div>
                <div class="col-xs-8">
                  <div class="member-info">
                    <h2>Vinit Kumar</h2>
                    <h3><span class="blue-header">Developer</span></h3>
                    <p>{% trans "I love doing frontend development and converting design into code. I like learning new skills and solving problems that matter." %}</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End tab content -->
  </div>
</div>


{% endblock %}
