{% extends "default.html" %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2>{{request.current_page}}</h2>
    <ul class="nav nav-tabs" id="about">
      <li class="active">
        <a href="#vision">{% trans "Our beliefs" %}</a>
      </li>
      <li class="">
        <a href="#team">{% trans "Our team" %}</a>
      </li>
    </ul>

    <div class="tab-content">
      
      <div class="tab-pane active" id="vision">
        <div class="row dialouge-container">
          <div class="col-md-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our" %} <span class="blue-header">{% trans "beliefs" %}</span></h1>
          </div>
          <div class="col-md-6">
            <div class="dialog-box-container pull-left">
              <p>Lorem ipsum Nostrud et irure ad pariatur reprehenderit fugiat Excepteur sed Duis est anim est dolore.</p>  
            </div>
            <img src="{{STATIC_URL}}img/icon-marieke.png"  class="pull-right" alt="">
          </div>
        </div>
        <hr>

        <div class="row vision-item-container">
          <div class="col-md-7">
            <img src="{{STATIC_URL}}img/about-engaged-parents.png" alt="">
          </div>
          <div class="col-md-5">
            <div class="point-circle-parents">
              <h2 class="point">1</h2>
            </div>
            <h2>{% trans "Engaged parents" %}</h2>
            <p>Lorem ipsum Sint nostrud Ut quis magna dolor reprehenderit eiusmod fugiat est exercitation sit ut aliquip esse amet ex.</p>
          </div>
        </div>

        <div class="row vision-item-container">
          <div class="col-md-6">
            <div class="point-circle-tech">
              <h2 class="point">2</h2>
            </div>
            <h2>{% trans "The opportunities of technology" %}</h2>
            <p>Wij geloven dat technologie enorme mogelijkheden biedt voor het onderwijs en de mogelijkheden tot ontplooiing van kinderen. Technologie verbindt over grenzen en taalbarrières heen.Social Schools ziet het als haar opgave om nu en in de toekomst educatieve toepassingen van technolo- gie te maken die kinderen in staat te stellen zich breed te ontwikkelen tot kansrijke wereldburgers.</p>
          </div>
          <div class="col-md-6">
            <img src="{{STATIC_URL}}img/about-technology.png" alt="">    
          </div>        
        </div>

        <div class="row vision-item-container">
          <div class="col-md-7">
            <img src="{{STATIC_URL}}img/about-safety.png" alt="">
          </div>
          <div class="col-md-5">
            <div class="point-circle-safety">
              <h2 class="point">3</h2>
            </div>
            <h2>{% trans "Veilig opgroeien" %}</h2>
            <p>We laten onze kinderen niet buiten onze directe lee- fomgeving op straat spelen, maar ze zijn wel meer- dere uren per dag, vaak buiten het zicht van de ouders, actief op het wereldwijde web.</p>
            <p>Mediawijsheid is daarom enorm belangrijk, maar heeft nog onvoldoende een rol in het basisonderwijs. Kinderen moeten net als in de echte wereld leren wat goed en wat gevaarlijk is, en leren wat wel en niet kan online.</p>
            <p>Wij geloven dat wij met Social Schools kunnen bijdra- gen aan de vorming van kinderen. Social Schools biedt een belangrijk middel aan scholen om kinderen te vormen in de online wereld van vandaag.</p>
          </div>
        </div>    
      </div>

      <div class="tab-pane" id="team">
        <div class="row dialouge-container">
          <div class="col-md-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our" %} <span class="blue-header">{% trans "team" %}</span></h1>
          </div>
          <div class="col-md-6">
            <div class="dialog-box-container pull-left">
              <p>Lorem ipsum Nostrud et irure ad pariatur reprehenderit fugiat Excepteur sed Duis est anim est dolore.</p>  
            </div>
            <img src="{{STATIC_URL}}img/icon-marieke.png"  class="pull-right" alt="">
          </div>
        </div>
        <hr>

        <div class="row team-container">
          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-jonathan.png" alt="">
            <div class="member-info">
              <h2>Jonathan Stolk</h2>
              <h3><span class="blue-header">Sales manager</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-marieke.png" alt="">
            <div class="member-info">
              <h2>Marieke van der Zwan</h2>
              <h3><span class="blue-header">Product manager</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-robert.png" alt="">
            <div class="member-info">
              <h2>Robert Korteland</h2>
              <h3><span class="blue-header">Designer</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-nar.png" alt="">
            <div class="member-info">
              <h2>Nar Kumar</h2>
              <h3><span class="blue-header">Developer</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-maikel.png" alt="">
            <div class="member-info">
              <h2>Maikel Boos</h2>
              <h3><span class="blue-header">Sales and account manager</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-bas.png" alt="">
            <div class="member-info">
              <h2>Bas de Bruin</h2>
              <h3><span class="blue-header">Marketing Manager</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-jos.png" alt="">
            <div class="member-info">
              <h2>Jos van Velzen</h2>
              <h3><span class="blue-header">Lead developer</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>

          <div class="col-md-6">
            <img class="team-member-image" src="{{STATIC_URL}}img/icon-vinit.png" alt="">
            <div class="member-info">
              <h2>Vinit Kumar</h2>
              <h3><span class="blue-header">Developer</span></h3>
              <p>Description</p>
              <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
            </div>
          </div>
        </div>

      </div>  
    </div>
    <!-- End tab content -->
  </div>
</div>   

        
{% endblock %}