{% extends "default.html" %}
{% load cms_tags %}
{% load i18n %}
{% block "content" %}
  <div class="container socialschools-container">
    <h2 class="about-header">{{request.current_page}}</h2>
    <ul class="nav nav-tabs" id="about">
      <li class="active">
        <a href="#vision">{% trans "Our beliefs" %}</a>
      </li>
      <li class="">
        <a href="#team">{% trans "Our team" %}</a>
      </li>
    </ul>

    <div class="tab-content">
      
      <div class="tab-pane active" id="vision">
        <div class="row dialouge-container">
          <div class="col-md-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our" %} <span class="blue-header">{% trans "beliefs" %}</span></h1>
          </div>
          <div class="col-md-6">
            <div class="dialog-box-container">
              <p>{% trans "We hope you will find what you need. If you don't dont hesistate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>080-100-1300</span> " %}.</p> 
              <a href="">Marieke van der Zwan - Product Manager</a>  
            </div>
            <img src="{{STATIC_URL}}img/thumbnail-marieke.png"  class="dialog-image" alt="">
          </div>
        </div>
        <hr>
        <div class="vision-container"> 
          <div class="row vision-item-container">
            <div class="col-md-6">
              <img src="{{STATIC_URL}}img/about-engaged-parents.png" alt="">
            </div>
            <div class="col-md-6">
              <div class="point-circle-parents">
                <h2 class="point">1</h2>
              </div>
              <h2>{% trans "Engaged parents" %}</h2>
              <p>We make it possible for parents to take a look in the classroom and share the daily activities of their children. <br>
                All of the solutions are inspired by facilitiating meaningful communication between school, parent and child</p>
            </div>
          </div>

          <div class="row vision-item-container">
            <div class="col-md-6">
              <div class="point-circle-tech">
                <h2 class="point">2</h2>
              </div>
              <h2>{% trans "The opportunities of technology" %}</h2>
              <p>Wij geloven dat technologie enorme mogelijkheden biedt voor het onderwijs en de mogelijkheden tot ontplooiing van kinderen. Technologie verbindt over grenzen en taalbarrières heen.Social Schools ziet het als haar opgave om nu en in de toekomst educatieve toepassingen van technolo- gie te maken die kinderen in staat te stellen zich breed te ontwikkelen tot kansrijke wereldburgers.</p>
            </div>
            <div class="col-md-6">
              <img src="{{STATIC_URL}}img/about-technology.png" alt="">    
            </div>        
          </div>

          <div class="row vision-item-container">
            <div class="col-md-6">
              <img src="{{STATIC_URL}}img/about-safety.png" alt="">
            </div>
            <div class="col-md-6">
              <div class="point-circle-safety">
                <h2 class="point">3</h2>
              </div>
              <h2>{% trans "Growing up safely" %}</h2>
              <p>We laten onze kinderen niet buiten onze directe lee- fomgeving op straat spelen, maar ze zijn wel meer- dere uren per dag, vaak buiten het zicht van de ouders, actief op het wereldwijde web.</p>
              <p>Mediawijsheid is daarom enorm belangrijk, maar heeft nog onvoldoende een rol in het basisonderwijs. Kinderen moeten net als in de echte wereld leren wat goed en wat gevaarlijk is, en leren wat wel en niet kan online.</p>
              <p>Wij geloven dat wij met Social Schools kunnen bijdra- gen aan de vorming van kinderen. Social Schools biedt een belangrijk middel aan scholen om kinderen te vormen in de online wereld van vandaag.</p>
            </div>
          </div>
        </div> 
        <hr> 
        <div class="feature-redirect-container">
          <h1>Check out more</h1>  
          <a href="/features" class="btn btn-features">Features</a>
        </div>
      </div>

      <div class="tab-pane" id="team">
        <div class="row dialouge-container">
          <div class="col-md-6">
            <h1 class="feature-header"><span class="green-header">{% trans "Our" %} <span class="blue-header">{% trans "team" %}</span></h1>
          </div>
          <div class="col-md-6"> 
            <div class="dialog-box-container">
              <p>{% trans "We hope you will find what you need. If you don't dont hesistate to send us email: <span class='green-header'>info@socialschools.nl</span> or to call us at <span class='green-header'>080-100-1300</span> " %}.</p> 
              <a href="">Marieke van der Zwan - Product Manager</a>  
            </div>
            <img src="{{STATIC_URL}}img/thumbnail-marieke.png" class="dialog-image" alt="">
          </div>
        </div>
        <hr>


        
        <div class="team-container">  
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-robert.png" alt="">   
                </div>   
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Robert Korteland</h2>
                    <h3><span class="blue-header">Designer</span></h3>
                    <p>I love to design screens and interaction flows and keep improving them according to your feedback. Sometimes I can't resist to write some code myself.</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-nar.png" alt="">    
                </div>  
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Nar Kumar</h2>
                    <h3><span class="blue-header">Developer</span></h3>
                    <p>Passionate about software development cycle - I love when an idea sketch is turned into product, and design into functional feature.</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>  
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-bas.png" alt="">    
                </div> 
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Bas de Bruin</h2>
                    <h3><span class="blue-header">Marketing Manager</span></h3>
                    <p>Description</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-maikel.png" alt="">    
                </div>   
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Maikel Boos</h2>
                    <h3><span class="blue-header">Sales and account manager</span></h3>
                    <p>As account manager i like to advise and inspire schools to communicate in a modern way with parents, children and everybody involved with the school.</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>  
                  </div>   
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-jos.png" alt="">    
                </div>
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Jos van Velzen</h2>
                    <h3><span class="blue-header">Lead developer</span></h3>
                    <p>I'm an co-founder of socialschools. I like building apps which are easy to use and matter to the world, with technology from today and tomorrow.</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>    
                </div>  
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <img class="team-member-image" src="{{STATIC_URL}}img/icon-vinit.png" alt="">    
                </div>
                <div class="col-md-8">
                  <div class="member-info">
                    <h2>Vinit Kumar</h2>
                    <h3><span class="blue-header">Developer</span></h3>
                    <p>I love doing frontend development and converting design into code. I like learning new skills and solving problems that matter.</p>
                    <a href="" class="btn btn-mail">{% trans "Mail me" %}!</a>
                  </div>    
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
    <!-- End tab content -->
  </div>
</div>   

        
{% endblock %}