//main container
.socialschools-container {
	padding-left: 40px;
	background-color: white;
	.container-padding();
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 10px;
	h2 {
		padding-bottom: 20px;
	}
	.intro-header {
		font-size: 48px;
		font-weight: bold;
		color: @black;
	}
	.app-intro-header {
		font-size: 48px;
		font-weight: lighter;
	}
	.container > .jumbotron {
		height: 323px;
		border-radius: 0px;
		padding: 0px;
		background-color: @school-blue;
		padding-top: 25px;
		.header-text {
			padding-right: 100px;
		}
	}
	.jumbo-container {
		.container-padding();
		margin-left: -40px;
		margin-right: -40px;
	}
	.green-belt {
		height:60px;
		background-color: @school-green;
		margin-top: -30px;
	}
	.price-box {
		border: 1px solid lightgrey;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.vision, .about-container, .examples-container, .new-container, .about-container {
		.container-padding();		
		.row > .col-md-4 {
			text-align: center;
		}
	}
	.logo {
		height: 75px;
	}
	.form-price-header {
		text-align: center;
		color: @black;
	}
	.form-price {
		.container-margin(45px);
	}
	.team-profile {
		.team {
			height: 80px;
			width: 80px;
		}
		margin-bottom: 10px;
		text-align: center;	
	}
		.bottom-link {
		text-align: center;
	}
	.redirect-button-container {
		text-align: center;
	}
	.reference-container, .socialschools-cms-container, .email-container, .dialouge-container {
		.container-margin(45px);
	}
	.demo-container {
		text-align: center;
		.container-margin(45px);
		.btn-email {
			.container-margin(30px);
		}
	}
	.ios-intro-text {
		margin-top: 87px;
	}
	.team-container {
		margin-top: 45px;
	}
	.btn-demo {
		margin-top: -100px;
		.green-button();
	}
	.btn-mail {
		.blue-button();
	}
	.btn-email {
		.green-button();
		margin-top: 4px;
	}
	.icon-facebook {
		margin-left: 10px;		
	}
	.icon-twitter {
		margin-left: 10px;
	}
	.follow-header {
		font-weight: lighter;
		display: inline-block;
	}
	.phone-header {
		color:@black;
		.blue-header {
			font-weight: bold;
		}
	}
	.testimonial-header {
		color: @black;
	}
	.feature-header {
		font-size: 48px;
		font-weight: lighter;
	}
	.testimonial-detail-meta {
		margin-top: -12px;
	}
	.socialschools-container-item {
		padding-left: 20px;
		padding-top: 30px;
		border: 1px solid @gray-lighter;
		margin-bottom: 20px;
		h2 {
			color: @black;
		}
		.color-themes-image {
			margin-left: -11px;
		}
	}
	.price-container-item {
		padding-left: 20px;
		.feature-list-container {
			padding-top: 25px;
			padding-right: 40px;
			border-right: 1px solid @gray-lighter;
		}
		.price-circle-container {
			padding-left: 40px;
			.circle-container {
				display: inline-block;
			}
			.price-circle {
				.circle(150px, @school-blue);
				.price {
					color: white;
					font-weight: bold;
					line-height: 150px;
					text-align: center;
				}
			}
			.price-text {
				display: inline-block;
				padding-left: 20px;
			}
		}
	}
	.pricing-container {
		.price-header {
			padding-bottom: 20px;
		}
		.price-box-cms {
			.price-euro {
				font-weight: bold;
				color: @black;
				margin-bottom: 0px;
			}
			.box(@school-orange);
			margin-right: 20px;
		}
		.price-box-newsfeed {
			.price-euro {
				font-weight: bold;
				color: @black;
				margin-bottom: 0px;
			}
			.box(@school-blue);
			margin-right: 20px;
		}
		.price-box-workshop {
			.price-euro {
				font-weight: bold;
				color: @black;
				margin-bottom: 0px;
			}
			.box(@school-green);
		}
	}
	.feature-list {
		direction: rtl;
		clear: right;
		margin-right: -20px;
	}
	.member-info {
		display: inline-block;
		h3 {
			margin-top: -30px;
		}
	}
	.team-member-image {
		margin-top: -120px;
		margin-right: 12px;
	}
	.team-container {
		.container-margin(45px);
		.col-md-6 {
			padding-bottom: 40px;
		}
	}
	.vision-item-container {
		.container-margin(45px);
		.col-md-5 > h2 {
			display: inline-block;
		}
	}
	.point-circle-parents {
		.small-circle(@school-blue);
	}
	.point-circle-tech {
		.small-circle(@school-green);
	}
	.point-circle-safety {
		.small-circle(@school-blue);
	}
}









