//main container
.socialschools-container {
	padding-left: 40px;
	background-color: white;
	.container-padding();
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 10px;
	.intro-header {
		font-size: 48px;
		font-weight: bold;
	}
	.app-intro-header {
		font-size: 48px;
		font-weight: lighter;
	}
	.container > .jumbotron {
		height: 328px;
		border-radius: 0px;
		padding: 0px;
		background-color: @school-blue;
		padding-top: 25px;
		.header-text {
			padding-right: 100px;
		}
	}
	.jumbo-container {
		.container-padding();
		margin-left: -40px;
		margin-right: -40px;
	}
	.green-belt {
		height: 55px;
		background-color: @school-green;
		margin-top: -30px;
	}
	.price-box {
		border: 1px solid lightgrey;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.vision > .row > .col-md-4 {
		text-align: center;
	}
	.logo {
		height: 75px;
	}
	.form-price {
		text-align: center;
	}
	.team {
		height: 80px;
		width: 80px;
		margin-bottom: 20px;
	}
	.bottom-link {
		text-align: center;
	}
	.redirect-button-container {
		text-align: center;
	}
}









