.btn-features {
  .green-button();
  background-color: @school-blue;
  display: inline-block;
}

.btn-demo {
  margin-top: -100px;
  .green-button();
}

.btn-mail {
  .blue-button();
}

.btn-email {
  .green-button();
  margin-top: 7px;
  border-radius: 3px;
}

.btn-download {
  .green-button(18px, 10px);
}