// footer styling
.footer-container {
  .container-widget();
  .container-padding();
  .footer-container-links {
    a, p {
      color: white;
      font-weight: bold;
    }
    .icon-facebook {
      margin-right: 5px;
    }
    .icon-twitter {
      margin-left: 5px;
    }
    background-color: @school-blue;
    padding-left:40px;
    margin-left: 0px;
    margin-right: 0px;
  }
  address {
    color: white;
  }
  .sitemap-container {
    margin-left: -13px;
    margin-top: 15px;
  }
}

.footer-text {
  span {
    color: @white;
    font-size: 12px;
  }
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  background-color: @school-green;
}
