.container-padding(@width:0px) {
	padding-left: @width;
	padding-right: @width;
}

.green-button() {
	background-color: @school-green;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

.container-margin(@value) {
	margin-top: @value;
	margin-bottom: @value;
}