.sidebar-nav li.active a, .sidebar-nav > li.active > a:hover, .sidebar-nav > li.active > a:focus { 
  background-color: transparent;
  border-left: 3px solid @school-blue;
  color: @black;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.navbar {
  border-bottom: 1px solid @gray-lighter;
}

.nav-stacked > li + li {  
  margin-top: 0px;
} 

header {
  background-color: white;
  .nav > li {
    height: 73px;
  }
  .container > nav > .navbar-nav {
    margin-left: 25px;
    li > a {
          line-height: 43px;
          color: black;
          font-weight: bold;
          font-size: 14px;
    }
    li.active > a {
      color: @school-blue;
      border-bottom: 3px solid @school-blue;
    }          
  }
  .navbar-header {
    a {
      .logo-navbar {
        height: 50px;
        margin-top: 12px;
        margin-left: -15px;
      }
    }
  }
}

.sidebar-nav {
  border: 1px solid @gray-lighter;
  &:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
  }
  & > li {
    border-bottom: 1px solid @gray-lighter;
    height: 42px;
    a {
      border-radius: 0px;
    }
  }
}

