// Body styling.
body {
  padding-top: 90px;
  -webkit-font-smoothing: antialiased;
  background: url(../img/background.png) center center no-repeat;
  background-size: cover;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  color: @black;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

h4 {
  font: 16px medium @header4-color;
}

.meta {
  font: 14px regular @meta-color;
}

a {
  font: 14px medium @theme-color;
}

//Colorful headers
.green-header {
  color: @school-green;
}

.white-header {
  color: white;
}

.blue-header {
  color: @school-blue;
}

.orange-header {
  color: @school-orange;
}

.footer-header {
  color: @footer-green;
}

.container{
  max-width: none !important;
  width: 970px;
}