// Body styling.
body {
  padding-top: 90px;
  -webkit-font-smoothing: antialiased;
  background: url(../img/background.jpg
) center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  color: @black;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

h4 {
  font: 16px medium @header4-color;
}

.meta {
  font: 14px regular @meta-color;
}

a {
  font: 14px medium @theme-color;
}

//Colorful headers
.green-header {
  color: @school-green;
}

.white-header {
  color: white;
}

.blue-header {
  color: @school-blue;
}

.orange-header {
  color: @school-orange;
}

.footer-header {
  color: darken(@school-blue, 20%);
}

.container {
  max-width: none !important;
  width: 970px;
}

// Styling to override file plugin styling

.plugin_link {
  display: block;
}

.plugin_file,
.plugin_link {
  border: 1px solid #c8c8c8;
  .border-radius(4px);
  .box-shadow(0px 1px rgba(0,0,0,0.1));
  a {
    display: block;
    padding: 12px;
  }
}

.playstore-img {
  margin-top: 10px;
}

.share-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.share {
  text-align: left;
  li {
    color: @school-blue;;
  }
}

.share-block {
  text-align: center;
  border: 1px solid @gray-lighter;
  height: 551px;
}

.links-share {
  padding-bottom: 50px;
  .video-share {
    text-align: right;
  }
}

.share-image-container {
  text-align: center;
  margin-top: 60px;
}

.share-image-header {
  margin-bottom: -10px;
}

.links-share {
  div a {
   font-weight: bold;
   width: 300px;
  }
}

.testimonial-image-container {
  text-align: center;
}

.shareform {
  .form-group {
    margin-right: 10px;
  }
}