body {
	padding-top: 90px;
}

.aside {
	background: transparent url("http://placekitten.com/600/570") no-repeat center center;
	height: 570px;
	padding: 0;
}

.footer {
	text-align: center;
}

h1, h2, h3, h4 {
	color: @red;
}

h2 {
	font-size: 30px;
	line-height: @baseLineHeight * 2;
}
