// Color variables
@black: #000000;
@school-blue: #37bde7;
@school-green: #31c659;
@theme-color: #37bde7;
@header1-color: #333333;
@header2-color: #4d4d4d;
@header3-color: #333333;
@header4-color: #666666;
@text-color: #808080;
@meta-color: #b3b3b3;