// Color variables
@black: #000000;
@school-blue: #37bde7;
@school-green: #31c659;
@school-orange: #ff921e;
@theme-color: #37bde7;
@header1-color: #333333;
@header2-color: #4d4d4d;
@header3-color: #333333;
@header4-color: #666666;
@text-color: #808080;
@meta-color: #b3b3b3;
@footer-green: #199435;


//local fonts for chrome

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu-light.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/ubuntu-medium.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-bold.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(../fonts/ubuntu-lightItalic.woff) format('woff');
}

//local fonts for IE.
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ubuntu-light.eot);
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu-light.eot) format('embedded-opentype'), url(../fonts/ubuntu-light.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ubuntu.eot);
  src: local('Ubuntu'), url(../fonts/ubuntu.eot) format('embedded-opentype'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ubuntu-medium.eot);
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/ubuntu-medium.eot) format('embedded-opentype'), url(../fonts/ubuntu-medium.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ubuntu-bold.eot);
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-bold.eot) format('embedded-opentype'), url(../fonts/ubuntu-bold.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/ubuntu-lightItalic.eot);
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(../fonts/ubuntu-lightItalic.eot) format('embedded-opentype'), url(../fonts/ubuntu-lightItalic.woff) format('woff');
}

